
body {font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(220, 245, 241);

}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  color: rgb(56, 157, 224);
  text-align: center;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgb(56, 157, 224);
}
.tab {
  overflow: hidden; border: 1px solid rgb(56, 157, 224); background-color: rgb(186, 231, 224);
}

.tab button {
  background-color:rgb(186, 231, 224);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgb(56, 157, 224);
}

.tab button:hover {
  background-color: rgb(170, 207, 212);
}

.tab button.active {
  background-color: rgb(170, 207, 212);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: rgb(127, 154, 170);
  color:rgb(52, 52, 214);
  font-family: Arial, Helvetica, sans-serif;
}

.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
